<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="CCS64ExecutablePath" value="%HOMEDRIVE%%HOMEPATH%\Downloads\CCS64 V3.9.2\CCS64 V3.9.2 Offical\CCS64.exe" />
    <add key="COLOSS20Path" value="%HOMEDRIVE%%HOMEPATH%\Downloads\CCS64 V3.9.2\CCS64 V3.9.2 Offical\COLOSS20_01578_02\COLOSS20.T64" />
    <add key="SearchingDepth" value="3" />
  </appSettings>
</configuration>